<!DOCTYPE html>
<html>
    <header>
        <title>
            Cronify - Dashboard
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="/static/styles.css">
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
    </header>
    <body>
        <div class="flex justify-between items-center relative z-10 mt-3 ml-3">
            <span class="text-xl font-semibold tracking-wider text-white flex items-center gap-2">
                <span class="border-t-2 border-l-2 border-r-2 border-white w-4 h-3 inline-block rounded-t-sm transform -rotate-45"></span>
                CRONIFY
            </span>
        </div>
    </body>
</html>